<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated agri -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="it.disim.univaq.agri.presentation.AgriModelWizardID"
            name="%_UI_AgriModelWizard_label"
            class="it.disim.univaq.agri.presentation.AgriModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AgriModelFile.gif">
         <description>%_UI_AgriModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated agri -->
      <editor
            id="it.disim.univaq.agri.presentation.AgriEditorID"
            name="%_UI_AgriEditor_label"
            icon="icons/full/obj16/AgriModelFile.gif"
            extensions="agri"
            class="it.disim.univaq.agri.presentation.AgriEditor"
            contributorClass="it.disim.univaq.agri.presentation.AgriActionBarContributor">
      </editor>
   </extension>

</plugin>
