<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated agri -->
      <package
            uri="http://www.example.org/agri"
            class="it.disim.univaq.agri.AgriPackage"
            genModel="model/agri.genmodel"/>
   </extension>

</plugin>
