<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cooltivar.presentation.CooltivarModelWizardID"
            name="%_UI_CooltivarModelWizard_label"
            class="cooltivar.presentation.CooltivarModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CooltivarModelFile.gif">
         <description>%_UI_CooltivarModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="cooltivar.presentation.CooltivarEditorID"
            name="%_UI_CooltivarEditor_label"
            icon="icons/full/obj16/CooltivarModelFile.gif"
            extensions="cooltivar"
            class="cooltivar.presentation.CooltivarEditor"
            contributorClass="cooltivar.presentation.CooltivarActionBarContributor">
      </editor>
   </extension>

</plugin>
